
header {
	margin-bottom: 30px;
}

/* Bootswatch modal fix */
.modal {
	z-index: 1050;
}

/* Diary Entry Opennable */
.entry {
	transition: all .1s;
}

.entry:hover {
	/*outline: 1px solid #ddd;*/
	box-shadow: 2px 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}

.preserve-newlines {
	white-space: pre-line;
}
